@import "config";

.error-page {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: -25px 0 -50px;
    width: 100%;

    &__feedback {
        padding: 1rem;
        flex-direction: column;
        margin-top: 30px;

        a {
            font-size: 1.5rem;
            margin-top: 1rem;
            color: $nav-color;
        }
    }
}

.a404 {
    background-image: url("/static/img/bee-balogun-KGyzk-EvTwQ-unsplash.jpg");
    background-position: center;
}

.a403 {
    background-image: url("/static/img/seabass-creatives-U3m4_cKbUfc-unsplash.jpg");
    background-position: 70% 0;
}

.a500 {
    background-image: url("/static/img/jaroslava-petrasova-eXUTOd9ZdsQ-unsplash.jpg");
    background-position: center;
}
