@import "config";

.home {
    background-image: url("/static/img/anthony-delanoix-hzgs56Ze49s-unsplash.jpg");
}

.user-home__left {
    &__playlists {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        padding: 1rem;

        &__headline {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0.75rem;
            text-align: center;
        }

        p {
            font-size: 1.2rem;
        }

        &__lists__playlist {
            padding-bottom: 1.25rem;
            text-align: center;
        }
    }

    &__bands {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        padding: 1rem;

        &__list {
            text-align: center;
        }

        &__headline {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0.75rem;
        }

        p {
            font-size: 1.2rem;
        }

        &__band {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;

            &__trash {
                display: inline;

                button {
                    background: none;
                    border: none;
                    color: $card-color;

                    &:hover {
                        cursor: pointer;
                        color: #810000;
                    }
                }
            }
        }
    }
}

.user-home__playlist__item {
    padding: 0.25rem 0;
}

.user-home__right {
    &__account {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        padding: 1rem;

        &__headline {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0.75rem;
            text-align: center;
        }

        &__links {
            display: flex;
            flex-direction: column;

            a {
                margin-bottom: 1rem;
                font-size: 1.2rem;
            }
        }
    }

    &__recents {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        padding: 1rem;

        &__headline {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0.75rem;
        }

        &__links__link {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}
