@import "config";

.result {
    height: 80vh;
    margin: -25px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    flex-direction: column;

    &__feedback {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 1rem;
        width: 55%;
        position: relative;
        top: 8%;
        left: 4%;

        &__headline {
            margin-bottom: 0.2rem;
            font-size: 1.7rem;
        }

        &__link {
            margin-top: 0.7rem;
            font-size: 1.2rem;
        }
    }
}

.playlist-success {
    background-image: url("/static/img/tobias-tullius-JdJrqv7BzhM-unsplash.jpg");
    margin-bottom: -50px;
}
