@import "config";

.playlist-hero {
    background-image: url("/static/img/matthew-kalapuch-sqJ4tLBiurw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 25px;
    flex-direction: column;

    &__feedback {
        position: relative;
        top: 10%;
        left: 5%;
        display: flex;
        flex-direction: column;
        width: fit-content;

        &__headline {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        &__sub-headline {
            font-weight: 400;
        }
    }
}

.playlist {
    margin-bottom: 25px;
    flex-direction: column;

    &__headline {
        font-size: 1.7rem;
        margin-bottom: 0.7rem;
        text-align: center;
    }

    &__desc {
        margin-bottom: 0.7rem;
        text-align: center;
        line-height: 130%;
    }

    &__list {
        padding: 0.5rem 1.5rem;
        &__song {
            padding: 0.5rem 0.5rem;
        }
    }
}

#not-incl__headline {
    font-size: 1.2rem;
}

.right-col__links {
    margin-bottom: 25px;
    flex-direction: column;
    align-items: center;

    &__button {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        border: none;
        background: none;
        cursor: pointer;
        color: $card-color;
        font-family: "Poppins", sans-serif;

        &:hover {
            color: $nav-color;
        }
    }

    &__link {
        padding: 0.7rem 0;
        font-size: 1.2rem;
    }
}

.right-col__details {
    flex-direction: column;
    align-items: center;

    &__headline {
        font-size: 1.7rem;
        margin-bottom: 0.7rem;
    }

    &__list {
        &__item {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
