{% extends 'base.html' %} {% block title %}{{title}} - SetPlaylist{% endblock
title %} {% block content %} {% block edit %}{% endblock edit %}
<div class="auth-box container">
    <h2 class="auth-box__headline">{{title}}</h2>
    {% if form.errors.items() %}
    <ul>
        {% for field, errors in form.errors.items() %} {% for error in errors %}
        <li class="error">{{error}}</li>
        {% endfor %} {% endfor %}
    </ul>
    {% endif %}
    <form method="post" class="auth-box__form">
        {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
        'hidden' %} {{field.label(class_="auth-box__form__label")}} {% if
        q_display=="q_display" and field.label.text=="Secret Question" %}
        {{field(class_="auth-box__form__input q_display")}} {% else %}
        {{field(class_="auth-box__form__input", placeholder=field.label.text)}}
        {% endif %} {% endfor %}
        {% if title == "Register" %}
        <p class="auth-box__form__redirect-notice">You will be redirected to log in to Spotify</small></p>
        {% endif %}
        <div class="auth-box__form__buttons">
            <a href="/" class="auth-box__form__buttons__btn">Cancel</a>
            <button type="submit" class="auth-box__form__buttons__btn submit">
                {% if title=="Forgot Password" %}Submit{% else %}{{title}}{%
                endif %}
            </button>
        </div>
    </form>
    {% if title == "Login" %}
    <h5 class="login-text">
        Don't have an account? <a href="/register">Register</a>
    </h5>
    <h5 class="login-text">
        Forgot password? <a href="/forgot">Click here</a>
    </h5>
    {% endif %}
</div>
{% endblock content %}
