<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/396432886d.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/../static/css/main.css" />
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <header class="navbar">
                <div>
                    {% if g.user %}
                    <a href="/home">
                    {% else %}
                    <a href="/">
                    {% endif %}
                        <img
                            src="static/svg/SetPlaylist_Logo.svg"
                            alt="SetPlaylist Logo Link"
                    /></a>
                </div>
                <div class="menu-btn">
                    <span class="menu-btn__burger"></span>
                </div>
                <nav class="nav">
                <ul class="menu-nav">
                    {% if not g.user %}
                    <li class="menu-nav__item">
                        <form action="/band/search">
                            <input
                                type="text"
                                name="q"
                                placeholder="Search Bands"
                                id="search"
                            />
                        </form>
                    </li>
                    <li class="menu-nav__item">
                        <a href="/register" class="menu-nav__link">Sign Up</a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="/login" class="menu-nav__link">Log In</a>
                    </li>
                    {% else %}
                    <li class="menu-nav__item">
                        <form action="/band/search" class="menu-nav__search">
                            <input
                            name="q"
                            placeholder="Search Bands"
                            id="search"
                            />
                        </form>
                    </li>
                    <li class="menu-nav__item"><a href="/home" class="menu-nav__link">{{g.user.username}}</a></li>
                    <li class="menu-nav__item">
                        <form action="/logout" method="post" class="menu-nav__link"><button type="submit">Log Out</button></form>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}
        <footer>
            <div class="footer">
                <div class="footer__body">
                    <div class="footer__links">
                        <ul>
                            <li><a href="/band/search">Search</a></li>
                            {% if not g.user %}
                            <li><a href="/register">Create Account</a></li>
                            {% else %}
                            <li><a href="/home">Home</a></li>
                            {% endif %}
                            <li><a href="mailto:jacob.andes@gmail.com">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer__logos">
                        <a href="/"
                        ><img
                        src="static/svg/SetPlaylist_Logo.svg"
                        alt="SetPlaylist Logo Link"
                        class="footer__logos__logo"
                        /></a>
                        <a href="https://www.spotiy.com"
                        ><img
                            src="static/svg/Spotify_Logo_RGB_White.svg"
                            alt="Spotify Logo Link"
                            class="footer__logos__logo"
                    /></a>
                </div>
            </div>
            <div class="footer__copyright">
                <p>&#169 Jacob Andes, 2021</p>
            </div>
        </div>
        </footer>
    </body>
</html>
