{% extends 'base.html' %} {% block title %}{{playlist.band.name}} -
SetPlaylist{% endblock title %} {% block content %}
<section id="hero">
    <div id="band_detail_hero">
        <div id="band_detail_hero__title_div">
            <h1>{{playlist.band.name}}</h1>
        </div>
    </div>
</section>
<section id="body">
    <div id="main_column">
        <div id="playlist">
            <h3>Playlist</h3>
            <ol>
                {% for song in playlist %}
                <li>{{song.name}}</li>
                {% endfor %}
            </ol>
        </div>
        <div id="not_included">
            <h3>Songs Not Included</h3>
            <p>These songs were not included because reasons?</p>
            <ol>
                {% for song in not_included %}
                <li>{{song.name}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="right_column">
        <div id="links">
            <a href="#">Save Playlist</a>
            <a href="#">Add Playlist to Spotify</a>
            <a href="#">{{playlist.band.name}} on Spotify</a>
        </div>
        <div id="details">
            <h3>Show Details</h3>
            <ul>
                <li>{{playlist.band.name}}</li>
                <li>{{playlist.venue_name}}</li>
                <li>{{playlist.venue_city}}, {{playlist.venue_state}}</li>
                <li>{{playlist.event_date}}</li>
                <li>Songs Played: {{len(playlist.songs)}}</li>
                <li>Total Playlist Length: {{playlist.length}}</li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}
