{% extends 'base.html' %} {% block title %}SetPlaylist - Register {% endblock
title %} {% block content%}
<main>
  <div id="wider-box">
    <h2>{{ title }}</h2>
    <form action="#" id="register-form">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {% for error in field.errors %}
      <span>{{ error}}</span>
      {% endfor %} {{ field(placeholder=field.label.text) }} {% endfor %}
      <button type="submit">Register</button>
    </form>
  </div>
</main>
{% endblock content %}
