{% extends 'base.html' %} {% block title %}{{band.name}} - SetPlaylist{%
endblock title %} {% block content %}
<section id="hero">
    <div id="band_detail_hero">
        <div id="band_detail_hero__title_div">
            <h1>{{band.name}}</h1>
            <h2>Setlist</h2>
        </div>
    </div>
</section>
<section id="body">
    <div id="main_column">
        <div id="playlist">
            <h3>Playlist</h3>
            <ol>
                {% for song in playlist %}
                <li><a href="#">{{song.name}}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="right_column">
        <div id="links">
            <a href="#">Save as a Playlist</a>
            <a href="#">Add as a Playlist to Spotify</a>
            <a href="#">{{band.name}} on Spotify</a>
        </div>
        <div id="details">
            <div id="details__headline">
                <h3>Details</h3>
            </div>
            <div id="details__links">
                <ul id="details__list">
                    <li>{{band.name}}</li>
                    <li>Venue: {{playlist.venue_name}}</li>
                    <li>
                        Location: {{playlist.venue_city}},
                        {{playlist.venue_state}}
                    </li>
                    <li>Date: {{playlist.event_date}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
