{% extends 'base.html' %} {% block title %}{{band['name']}} - SetPlaylist{%
endblock %} {% block content %}
<section id="hero">
    <div class="band-hero container">
        <img class="band-hero__image" src="{{band_image}}" />
        <h1 class="band-hero__name">{{band['name']}}</h1>
    </div>
</section>
{% if g.user %}
<section id="band-links">
    <div class="band-links container">
        <a href="/playlist/hype/{{band['id']}}" class="band-links__link"
            >Create Hype Up Playlist</a
        >
        <a href="{{band['external_urls']['spotify']}}" class="band-links__link"
            >{{band['name']}} on Spotify</a
        >
        <a href="#" class="band-links__link">Add to favorites</a>
    </div>
</section>
<section id="band-setlists">
    <div class="band-setlists container">
        <h3 class="band-setlists__headline">Setlists</h3>
        <ul class="band-setlists__list">
            {% if setlists == None %}
            <li>This band has no setlists.</li>
            {% else %} {% for set in setlists %}
            <li>
                <a
                    href="/playlist/show/{{band['id']}}/{{set['id']}}"
                    class="band-setlists__list__setlist"
                    >{{format_setlist_display(set)}}</a
                >
            </li>
            {% endfor %} {% endif %}
        </ul>
    </div>
</section>
<section id="band-upcoming">
    <div class="band-upcoming container">
        <h3 class="band-upcoming__headline">Upcoming Shows</h3>
        {% if upcoming_shows %}
        <ul class="band-upcoming__list">
            {% for show in upcoming_shows %}
            <li>
                <a href="{{show.url}}" class="band-upcoming__list__show"
                    >{{show['datetime'][:10]}} - {{show['venue']['name']}} -
                    {{show['venue']['location']}}</a
                >
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No upcoming shows for {{band['name']}}</p>
        {% endif %}
    </div>
</section>
{% else %}
<section id="fuzzy-detail">
    <div class="band-fuzzy-bio container">
        <p class="band-fuzzy-bio__cta">
            <a href="/login">Login</a> or <a href="/register">Sign Up</a> to see
            upcoming shows and save the band's setlists.
        </p>
    </div>
</section>
{% endif %} {% endblock content %}
