{% extends '/../base.html' %} {% block title %}{{band.name}} - SetPlaylist{%
endblock %} {% block content %}
<section id="hero">
    <div id="band_detail_hero">
        <div id="band_detail_hero__title_div">
            <h1>{{band.name}}</h1>
        </div>
    </div>
</section>
<section id="body">
    <div id="bio_links">
        <div id="bio">
            <div id="bio__headline">
                <h3>{{band.name}} Bio</h3>
                <!-- TODO: Need to check this based on data -->
                <!-- <p>{{band.bio}}</p> TODO: -->
            </div>
        </div>
    </div>
    <div id="setlists">
        <div id="setlists__headline">
            <h3>Setlists</h3>
            <p>
                <a href="/login">Login</a> or
                <a href="/register">Register</a> to see {{band.name}} and
                other's setlists!
            </p>
        </div>
    </div>
</section>
{% endblock content %}
