@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Sen:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  background-color: #2d3d51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  margin-top: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.footer__links ul li {
  padding: 1em 0;
}

.footer__links ul li a {
  color: #ffffff;
}

.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logos img {
  width: 140px;
  margin: 0.75em 0 0.75em 0;
}

.footer__copyright {
  padding-top: 25px;
  font-size: 0.75em;
}

.footer__copyright a {
  color: #ffffff;
}

.footer__copyright a:hover {
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #ffffff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #ffffff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #6a9eae;
  visibility: visible;
}

.navbar img {
  height: 50px;
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000000;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  font-weight: 700;
}

.nav .menu-nav__item__form {
  display: none;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  color: #ffffff;
}

.nav .menu-nav__link:hover {
  color: #6a9eae;
}

.nav .menu-nav__link__logout {
  border: none;
  background: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: "Poppins", sans-serif;
}

.nav .menu-nav__link__logout:hover {
  cursor: pointer;
  color: #6a9eae;
}

#search {
  font-size: 1.25rem;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 450ms;
          transition-delay: 450ms;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 550ms;
          transition-delay: 550ms;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing {
  background-image: url("../img/yvette-de-wit-NYrVisodQ2M-unsplash.jpg");
}

#landing-div {
  width: 75%;
}

#landing-h1 {
  font-size: 2.2rem;
}

#landing-cta {
  width: 40%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

#landing-cta a:hover {
  color: #000000;
}

.how {
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how__headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 2rem;
}

.how__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.how__body div {
  width: 40%;
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__body div span {
  font-size: 3rem;
  font-weight: 700;
}

.how__body div span i {
  margin-bottom: 1rem;
}

.how__body div p {
  width: 50vw;
}

.how__body__setlist__text {
  margin: 0.25rem 0 0.25rem 0;
  font-weight: 700;
  font-style: italic;
}

#how-body-top {
  margin-top: 2rem;
}

.our-favs {
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}

.our-favs__headline {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem 0 0.5rem 0;
}

.our-favs__sets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5rem 0 1.5rem 0;
}

.our-favs__sets__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.our-favs__sets__set h5 {
  font-weight: 400;
}

.our-favs__set__text {
  padding: 0.25rem 0 0.25rem 0;
  text-align: center;
}

.our-favs__set__link {
  color: #ffffff;
  background-color: #3b5262;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 5px;
  margin-top: 0.25rem;
  text-align: center;
  font-weight: 400;
}

#fav-third {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  background-image: url("/static/img/anthony-delanoix-hzgs56Ze49s-unsplash.jpg");
}

.user-home__left__playlists {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 1rem;
}

.user-home__left__playlists__headline {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: center;
}

.user-home__left__playlists p {
  font-size: 1.2rem;
}

.user-home__left__playlists__lists__playlist {
  padding-bottom: 1.25rem;
  text-align: center;
}

.user-home__left__bands {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 1rem;
}

.user-home__left__bands__list {
  text-align: center;
}

.user-home__left__bands__headline {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.user-home__left__bands p {
  font-size: 1.2rem;
}

.user-home__left__bands__band {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

.user-home__left__bands__band__trash {
  display: inline;
}

.user-home__left__bands__band__trash button {
  background: none;
  border: none;
  color: #3b5262;
}

.user-home__left__bands__band__trash button:hover {
  cursor: pointer;
  color: #810000;
}

.user-home__playlist__item {
  padding: 0.25rem 0;
}

.user-home__right__account {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 1rem;
}

.user-home__right__account__headline {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: center;
}

.user-home__right__account__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-home__right__account__links a {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.user-home__right__recents {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 1rem;
}

.user-home__right__recents__headline {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.user-home__right__recents__links__link {
  margin-bottom: 1rem;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.error-page {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: -25px 0 -50px;
  width: 100%;
}

.error-page__feedback {
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.error-page__feedback a {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #6a9eae;
}

.a404 {
  background-image: url("/static/img/bee-balogun-KGyzk-EvTwQ-unsplash.jpg");
  background-position: center;
}

.a403 {
  background-image: url("/static/img/seabass-creatives-U3m4_cKbUfc-unsplash.jpg");
  background-position: 70% 0;
}

.a500 {
  background-image: url("/static/img/jaroslava-petrasova-eXUTOd9ZdsQ-unsplash.jpg");
  background-position: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auth-box {
  margin: 25px 0 50px 0;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-box__headline {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.auth-box__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  width: 60%;
}

.auth-box__form__label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.auth-box__form__input {
  width: 80%;
  height: 1.7rem;
}

.auth-box__form__redirect-notice {
  margin-top: 1rem;
  font-size: 0.8rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.auth-box__form__buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.auth-box__form__buttons__btn {
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #3b5262;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.submit {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 4px;
  color: #ffffff;
  background-color: #3b5262;
  font-size: 1rem;
}

.submit:hover {
  cursor: pointer;
}

.login-text {
  text-align: center;
  margin-bottom: 0.5rem;
}

.login-text a {
  font-weight: 700;
  color: #3b5262;
}

.q_display {
  pointer-events: none;
  border: none;
  background-color: #cebaa5;
  color: #000000;
  height: 2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.edit {
  background-image: url("/static/img/elena-mozhvilo-RhXAO8OXyDY-unsplash.jpg");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.band-hero {
  background-color: #cebaa5;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.band-hero__image {
  height: 300px;
  border-radius: 4px;
}

.band-hero__name {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  justify-self: flex-end;
}

.band-bio {
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.band-bio__headline {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.7rem;
}

.band-bio__bio {
  text-align: center;
}

.band-links {
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.band-links__link {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.band-links__link__button {
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #3b5262;
}

.band-links__link__button:hover {
  color: #6a9eae;
  cursor: pointer;
}

.band-setlists {
  margin: 25px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.band-setlists__headline {
  text-align: center;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.band-setlists li {
  margin: 1rem 0;
  text-align: center;
}

.band-upcoming {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.band-upcoming__headline {
  text-align: center;
  margin-bottom: 0.7rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.band-upcoming__list {
  text-align: center;
}

.band-upcoming__list__show {
  padding: 0.5rem 0;
}

.band-fuzzy-bio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 1rem;
}

.band-fuzzy-bio__cta {
  text-align: center;
  margin: 0.7rem 0;
  width: 80%;
  line-height: 130%;
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.result {
  height: 80vh;
  margin: -25px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 1rem;
  width: 55%;
  position: relative;
  top: 8%;
  left: 4%;
}

.result__feedback__headline {
  margin-bottom: 0.2rem;
  font-size: 1.7rem;
}

.result__feedback__link {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

.playlist-success {
  background-image: url("/static/img/tobias-tullius-JdJrqv7BzhM-unsplash.jpg");
  margin-bottom: -50px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.playlist-hero {
  background-image: url("/static/img/matthew-kalapuch-sqJ4tLBiurw-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.playlist-hero__feedback {
  position: relative;
  top: 10%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.playlist-hero__feedback__headline {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.playlist-hero__feedback__sub-headline {
  font-weight: 400;
}

.playlist {
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.playlist__headline {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.playlist__desc {
  margin-bottom: 0.7rem;
  text-align: center;
  line-height: 130%;
}

.playlist__list {
  padding: 0.5rem 1.5rem;
}

.playlist__list__song {
  padding: 0.5rem 0.5rem;
}

#not-incl__headline {
  font-size: 1.2rem;
}

.right-col__links {
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-col__links__button {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #3b5262;
  font-family: "Poppins", sans-serif;
}

.right-col__links__button:hover {
  color: #6a9eae;
}

.right-col__links__link {
  padding: 0.7rem 0;
  font-size: 1.2rem;
}

.right-col__details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-col__details__headline {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.right-col__details__list__item {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.results-hero {
  height: 300px;
  background-image: url("/static/img/rocco-dipoppa-_uDj_lyPVpA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-hero__feedback {
  position: relative;
  top: 60%;
  width: 50%;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-hero__feedback__headline {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.results-hero__feedback__sub-headline {
  font-size: 1.2rem;
  font-weight: 400;
}

.results-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.results-list__headline {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem 0 0.5rem 0;
}

.results-list__bands {
  margin: 1rem 0;
}

.results-list__bands__band {
  margin: 1rem 0;
  font-size: 1.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  #search {
    font-size: 1rem;
    width: 100%;
  }
  .landing-hero div {
    width: 40%;
  }
  #landing-div {
    width: 50%;
  }
  .band-search__input {
    width: 80%;
  }
  .our-favs__sets__set {
    width: 30%;
  }
  #fav-third {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .footer__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .auth-box__headline {
    font-size: 2.5rem;
  }
  .auth-box__form__label {
    font-size: 1.8rem;
  }
  .auth-box__form__input {
    width: 90%;
    height: 2rem;
  }
  .login-text {
    margin-bottom: 1rem;
  }
  .error-page__feedback {
    width: 90%;
  }
}

@media screen and (min-width: 720px) {
  .content {
    width: 70%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-btn {
    visibility: hidden;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
  }
  .navbar__logo {
    width: 30%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    visibility: visible;
    height: 50px;
    position: relative;
    z-index: 2;
  }
  .nav .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 50px;
    width: 100%;
    background: #6a9eae;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-right: 1rem;
  }
  .nav .menu-nav__link {
    font-size: 1rem;
    display: inline;
  }
  .nav .menu-nav__link__logout {
    font-size: 1rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__links ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .footer__logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
  }
  .landing-hero div {
    width: 50%;
  }
  #landing-div {
    width: 50%;
  }
  .auth-box {
    width: 100%;
  }
  #landing-cta {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 70%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how__headline {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .how__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .how__body div {
    width: 30%;
  }
  .how__body div p {
    width: 100%;
  }
  .our-favs__sets__set {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-favs__set__link {
    width: 80%;
  }
  .user-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .user-home__left {
    width: 65%;
  }
  .user-home__left__playlists__headline {
    margin-bottom: 1.5rem;
  }
  .user-home__right {
    width: 30%;
  }
  .user-home__right__recents__headline {
    text-align: center;
  }
  .user-home__left__playlists__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .user-home__left__playlists__lists__playlist {
    border: 2px solid #6a9eae;
    border-radius: 10px;
    background-color: #3b5262;
    color: #ffffff;
    width: 40%;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .user-home__left__playlists__lists__playlist a {
    color: #6a9eae;
  }
  .user-home__left__playlists__lists__playlist h5 {
    font-weight: 400;
  }
  #playlist-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #playlist-body .main-col {
    width: 65%;
  }
  #playlist-body .main-col .playlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #playlist-body .right-col {
    width: 30%;
  }
  #playlist-body .right-col__links {
    text-align: center;
  }
  #playlist-body .right-col__details__list {
    text-align: center;
  }
  .band-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .band-body #band-links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 30%;
    text-align: center;
  }
  .band-body #band-setlists {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 65%;
  }
  .band-body #band-upcoming {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .result__feedback {
    width: 40%;
  }
  .error-page__feedback {
    width: 65%;
  }
}

body {
  background-image: url("../img/emma-paillex-dzrclo52oxk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
  height: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 50px;
}

main {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section {
  width: 100%;
}

a {
  color: #3b5262;
  text-decoration: none;
}

a:hover {
  color: #6a9eae;
}

ul {
  list-style-type: none;
}

.container {
  background-color: #cebaa5;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  padding: 1rem;
}

.landing-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  color: #000000;
  height: 300px;
}

.landing-hero__title-div {
  background-color: #cebaa5;
  border-radius: 4px;
  position: relative;
  top: 5%;
  left: 5%;
  padding: 1rem;
  width: 70%;
}

.landing-hero__title-div__h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.landing-hero__title-div__p {
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.landing-hero__cta {
  background-color: #cebaa5;
  border-radius: 6px;
  border: 2px solid #000000;
  padding: 0.5rem;
  width: 25%;
  position: relative;
  top: 10%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-hero__cta__link {
  color: #000000;
  font-weight: 700;
}

.band-search {
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.band-search__headline {
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
}

.band-search__input {
  padding: 0.5rem 0 1rem 0;
}

.band-search__input input {
  width: 70vw;
  height: 30px;
  font-size: 1.25rem;
}
/*# sourceMappingURL=main.css.map */
