{% extends 'base.html' %} {% block title %} SetPlaylist - {{g.user.username}}{%
endblock title %} {% block content %}
<section id="hero">
    <div class="landing-hero home">
        <div class="landing-hero__title-div">
            <h1 class="landing-her__title-div__h1">Welcome back,</h1>
            <p class="landing-hero__title-div__p">{{g.user.username}}</p>
        </div>
    </div>
</section>
<section id="band-search">
    <div class="band-search container">
        <h3 class="band-search__headline">Search Bands</h3>
        <form action="/band/search" method="get" class="band-search__input">
            <input type="text" name="search" id="search" />
        </form>
    </div>
</section>
<section id="home">
    <div class="user-home">
        <div class="user-home__left">
            <div class="user-home__left__playlists container">
                <h2 class="user-home__left__playlists__headline">
                    Your Playlists
                </h2>
                <div class="user-home__left__playlists__lists">
                    {% if g.user.playlists %} {% for playlist in
                    g.user.playlists %}
                    <article>
                        <div class="user-home__playlist">
                            <a href="#" class="user-home__playlist__name"
                                >{{playlist.name}}</a
                            >
                            <h5 class="user-home__playlist__band">
                                {{playlist.band.name}}
                            </h5>
                            <h5 class="user-home__playlist__venue-name">
                                {{playlist.venue_name}}
                            </h5>
                            <h5 class="user-home__playlist__venue-loc">
                                {{playlist.venue_city}},
                                {{playlist.venue_state}}
                            </h5>
                            <h5 class="user-home__playlist__date">
                                {{playlist.event_date}}
                            </h5>
                        </div>
                    </article>
                    {% endfor %} {% else %}
                    <p>
                        None Saved - <a href="/band/search">Go search</a> for
                        some!
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="user-home__left__bands container">
                <h2 class="user-home__left__bands__headline">
                    Your Favorite Bands
                </h2>
                <div class="user-home__left__bands__band">
                    {% if g.user.favorites %}
                    <ul>
                        {% for band in g.user.favorites %}
                        <li>
                            <a
                                href="#"
                                class="user-home__left__bands__band__name"
                                >{{band.name}}</a
                            >
                            <small
                                ><a href="#"><i class="far fa-trash-alt"></i></a
                            ></small>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>
                        No Favorites - <a href="/band/search">Go search</a> for
                        some!
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="user-home__right">
            <div class="user-home__right__account container">
                <h3 class="user-home__right__account__headline" h3>Account</h3>
                <div class="user-home__right__account__links">
                    <a href="#">Edit Account Details</a>
                    <a href="#">Manage Spotify Link</a>
                </div>
            </div>
            <div class="user-home__right__recents container">
                <h4 class="user-home__right__recents__headline">
                    Recently Created Playlists
                </h4>
                <div class="user-home__right__recents__links">
                    <ul>
                        {% for playlist in recent_playlists %}
                        <li>
                            <a
                                href="#"
                                class="user-home__right__recents__links__link"
                                >{{playlist.name}}</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
