{% extends 'base.html' %} {% block title %} SetPlaylist - Your favorite concert
memories, one playlist at a time! {% endblock title %} {% block content %}
<section id="hero">
    <div class="landing-hero landing">
        <div class="landing-hero__title-div" id="landing-div">
            <h1 class="landing-hero__title-div__h1" id="landing-h1">
                SetPlaylist
            </h1>
            <p class="landing-hero__title-div__p">
                Your favorite concert memories, one playlist at a time
            </p>
        </div>
        <div class="landing-hero__cta" id="landing-cta">
            <a
                href="/register"
                class="landing-hero__cta__link"
                id="landing-cta-link"
                >Get Started</a
            >
        </div>
    </div>
</section>
<section id="how">
    <div class="how container">
        <h2 class="how__headline">How It Works</h2>
        <div class="how__body">
            <div class="how__body__search" id="how-body-top">
                <span class="how__body__search-icon"
                    ><i class="fas fa-search"></i
                ></span>
                <p class="how__body__search-text">Search for a band</p>
            </div>
            <div class="how__body__setlist">
                <span><i class="fas fa-list-ul"></i></span>
                <p>Pick a setlist</p>
                <p class="how__body__setlist__text">OR</p>
                <p>Let us make you one</p>
            </div>
            <div class="how__body__spotify">
                <span class="how__body__spotify-icon"
                    ><i class="fas fa-headphones-alt"></i
                ></span>
                <p class="how__body__spotify-text">Save to your Spotify</p>
            </div>
        </div>
    </div>
</section>
<section id="band-search">
    <div class="band-search container">
        <h3 class="band-search__headline">Search Bands</h3>
        <form action="/band/search" method="get" class="band-search__input">
            <input type="text" name="search" id="search" />
        </form>
    </div>
</section>
<section id="our-favorites">
    <div class="our-favs container">
        <h3 class="our-favs__headline">Our Favorites</h3>
        <div class="our-favs__sets">
            <div class="our-favs__sets__set">
                <h4 class="our-favs__set__text">Led Zeppelin</h4>
                <h5 class="our-favs__set__text">Seattle Center Coliseum</h5>
                <h5 class="our-favs__set__text">January 9, 1970</h5>
                <h5 class="our-favs__set__text">Seattle, WA</h5>
                <a
                    href="/playlist/show/36QJpDe2go2KgaRleHCDTp/5bdfb380"
                    class="our-favs__set__link"
                    >See Playlist</a
                >
            </div>
            <div class="our-favs__sets__set">
                <h4 class="our-favs__set__text">Elton John</h4>
                <h5 class="our-favs__set__text">Troubadour</h5>
                <h5 class="our-favs__set__text">August 25, 1970</h5>
                <h5 class="our-favs__set__text">West Hollywood, CA</h5>
                <a
                    href="/playlist/show/3PhoLpVuITZKcymswpck5b/bd41df2"
                    class="our-favs__set__link"
                    >See Playlist</a
                >
            </div>
            <div class="our-favs__sets__set" id="fav-third">
                <h4 class="our-favs__set__text">David Bowie</h4>
                <h5 class="our-favs__set__text">Paramount Theatre</h5>
                <h5 class="our-favs__set__text">October 31, 1972</h5>
                <h5 class="our-favs__set__text">Seattle, WA</h5>
                <a
                    href="/playlist/show/0oSGxfWSnnOXhD2fKuz2Gy/73f09215"
                    class="our-favs__set__link"
                    >See Playlist</a
                >
            </div>
        </div>
    </div>
</section>
{% endblock content %}
