{% extends 'base.html' %} {% block title %}{{playlist.band.name}} -
SetPlaylist{% endblock title %} {% block content %}
<section id="hero">
    <div class="playlist-hero">
        <div class="playlist-hero__feedback">
            <h1 class="playlist-hero__headline">{{playlist.band.name}}</h1>
            <h2 class="playlist-hero__feedback__sub-headline">Setlist</h2>
        </div>
    </div>
</section>
<section id="body">
    <div class="main-col">
        <div class="main-col__playlist">
            <h3 class="main-col__playlist__headline">Playlist</h3>
            <ol class="main-col__playlist__list">
                {% for song in playlist %}
                <li class="main-col__playlist__list__song">{{song.name}}</li>
                {% endfor %}
            </ol>
        </div>
        {% if TODO: %}
        <div class="main-col__not-incl">
            <h3 class="main-col__not-incl__headline">Songs Not Included</h3>
            <p class="main-col__not-incl__desc">
                These songs were not included because reasons?
            </p>
            <ol class="main-col__not-incl__list">
                {% for song in not_included %}
                <li class="main-col__not-incl__list__song">{{song.name}}</li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
    <div class="right-col">
        <div class="right-col__links">
            <a href="#" class="right-col__links__link">Save Playlist</a>
            <a href="#" class="right-col__links__link"
                >Add Playlist to Spotify</a
            >
            <a href="#" class="right-col__links__link"
                >{{playlist.band.name}} on Spotify</a
            >
        </div>
        <div class="right-col__details">
            <h3 class="right-col__details__headline">Show Details</h3>
            <ul class="right-col__details__list">
                <li class="right-col__details__list__item">
                    {{playlist.band.name}}
                </li>
                <li class="right-col__details__list__item">
                    {{playlist.venue_name}}
                </li>
                <li class="right-col__details__list__item">
                    {{playlist.venue_city}}, {{playlist.venue_state}}
                </li>
                <li class="right-col__details__list__item">
                    {{playlist.event_date}}
                </li>
                {% if TODO: %}
                <li class="right-col__details__list__item">
                    Songs Played: {{len(playlist.songs)}}
                </li>
                <li class="right-col__details__list__item">
                    Total Playlist Length: {{playlist.length}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}
