{% extends 'base.html' %} {% block title %}{{band['name']}} - SetPlaylist{%
endblock title %} {% block content %}
<section id="hero">
    <div class="playlist-hero container">
        <div class="playlist-hero__feedback container">
            <h1 class="playlist-hero__feedback__headline">{{band['name']}}</h1>
            <h2 class="playlist-hero__feedback__sub-headline">
                {{playlist['details']['venue_name']}}
            </h2>
        </div>
    </div>
</section>
<section id="body">
    <div class="main-col">
        <div class="playlist container">
            <h3 class="playlist__headline">Setlist</h3>
            {% if playlist %}
            <ol class="playlist__list">
                {% for song in playlist if song != 'details' %}
                <li class="playlist__list__song">{{playlist[song]['name']}}</li>
                {% endfor %}
            </ol>
            {% else %}
            <p class="playlist__list__error">
                Looks like there's no setlist for this show, sorry!
            </p>
            {% endif %}
        </div>
        {% if saved==True %}
        <div class="playlist container">
            <h3 class="playlist__headline" id="not-incl__headline">
                Songs Not Included
            </h3>
            <p class="playlist__desc">
                These songs could not be included in the playlist due to being
                covers or not available in Spotify.
            </p>
            <ol class="playlist__list">
                {% for song in not_included %}
                <li class="playlist__list__song">{{song['name']}}</li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
    <div class="right-col">
        <div class="right-col__links container">
            <a href="#" class="right-col__links__link">Save Playlist</a>
            <a href="#" class="right-col__links__link"
                >Add Playlist to Spotify</a
            >
            <a href="#" class="right-col__links__link"
                >{{band['name']}} on Spotify</a
            >
        </div>
        <div class="right-col__details container">
            <h3 class="right-col__details__headline">Show Details</h3>
            <ul class="right-col__details__list">
                <li class="right-col__details__list__item">{{band['name']}}</li>
                <li class="right-col__details__list__item">
                    {{playlist['details']['venue_name']}}
                </li>
                <li class="right-col__details__list__item">
                    {{playlist['details']['venue_loc']}}
                </li>
                <li class="right-col__details__list__item">
                    {{playlist['details']['event_date']}}
                </li>
                <li class="right-col__details__list__item">
                    Songs: {{playlist['details']['length']}}
                </li>
                {% if saved==True or duration==True %}
                <li class="right-col__details__list__item">
                    Total Playlist Length: {{playlist['details']['duration']}}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}
