@import "config";

.results-hero {
    height: 300px;
    background-image: url("/static/img/rocco-dipoppa-_uDj_lyPVpA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;

    &__feedback {
        position: relative;
        top: 60%;
        width: 50%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;

        &__headline {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        &__sub-headline {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

.results-list {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

    &__headline {
        font-weight: 700;
        font-size: 2rem;
        padding: 1rem 0 0.5rem 0;
    }

    &__bands {
        margin: 1rem 0;

        &__band {
            margin: 1rem 0;
            font-size: 1.2rem;
        }
    }
}
